head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
body
table(class="table table-striped")
    thead(class="thead-light")
        tr
            each header in headers
                th= header.rusName
    tbody
        each row, rowNumber in rows
            tr
                each header, n in headers
                    td= (n === 0 ? rowNumber : row[headers[n].key])