head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
body
table(class="table table-striped")
    thead(class="thead-light")
        tr
            each header in headers
                th= header
    tbody
        each row, n in rows
            tr
                td= n
                td= row.datesRange
                td= row.metricsValues